body{
  background-image: url("blackboard.jpg");
  background-size: cover;  
  background-size: 100% 100%;
}
h1{
  text-align: center!important;
  font-size: 4rem;
}
#titleHeader{
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.cardContainer{
  border: 1px black solid;
  width: 500px;
  height: 300px;
  background-image: url("indecCard.png");
  background-size: cover;
  margin: 10px;
  font-family: Marker Felt, fantasy;
}
.align-items-center {
  align-items: center!important;
}
.cardContainerSelected{
  border: 7px rgb(255, 255, 255) solid;
  width: 500px;
  height: 300px;
  background-image: url("indecCard.png");
  background-size: cover;
  margin: 10px;
  font-family: Marker Felt, fantasy;
}