body{
  background-image: url("blackboard.jpg");
  background-size: 100% 100%;
}
button{
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  text-align: center!important;
}
h1{
  text-align: center!important;
  font-size: 4rem;
  width: 100%;
}
form{
  font-size: 1.5rem;
  padding: 5px;
  text-align: center!important;
}
#titleHeader{
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#closeButton{
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  text-align: center!important;
}
.cardContainer{
  border: 1px black solid;
  width: 500px!important;
  height: 300px!important;
  background-image: url('./indecCard.png');
  background-size: cover;
  background-color: white;
  margin: 10px;
  font-family: Marker Felt, fantasy;
  padding: 0px, 20px;
}
.cardContainerWhite{
  border: 1px black solid;
  width: 500px!important;
  height: 300px!important;
  background-color: white;
  margin: 10px;
  font-family: Marker Felt, fantasy;
  padding: 0px, 20px;
}
.align-items-center {
  align-items: center!important;
}
.loading{
  font-family: Marker Felt, fantasy;
  color: white;
  font-size: 2rem;
}
.arrow{
  height: 1.5rem;
  margin: 3px;
  vertical-align: bottom;
}
.cardRow{
  height: 250px;
  padding: 0px !important;
  text-align: center!important;
}
.cardNumber{
  height: 50px;
  width: 500px;
  padding: 0px !important;
  text-align: center!important;  
}
.hidden{
  display: none;
}
.bottom{
  vertical-align: bottom;
}
#top{
  height: 250px;
}
#btm{
  height: 50px;
}
.edit{
  padding: 0px !important;
  text-align: center!important; 
}
