body{
  background-image: url("blackboard.jpg");
  background-size: 100% 100%;
}
h1{
  text-align: center!important;
  font-size: 4rem;
}
#titleHeader{
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.cardContainer{
  border: 1px black solid;
  width: 500px;
  height: 300px;
  background-image: url('./indecCard.png');
  background-size: cover;
  background-color: white;
  margin: 10px;
  font-family: Marker Felt, fantasy;
}
.cardContainerWhite{
  border: 1px black solid;
  width: 500px;
  height: 300px;
  background-color: white;
  margin: 10px;
  font-family: Marker Felt, fantasy;
}
.align-items-center {
  align-items: center!important;
}
.loading{
  font-family: Marker Felt, fantasy;
  color: white;
  font-size: 2rem;
}
.arrow{
  height: 2rem;
}
.cardRow{
  height: 300px;
  padding: 0px !important;
  text-align: center!important;
}